<div class="contenedor-perfil">
    <div id="perfil">
      <img src="Proyecto_portfolio/src/assets/Imagenes/perfil.jpg">
      <h2>Magalí Gauna</h2>
      <h5>Full Stack Developer Jr</h5>
      <p>Acerca de mi profesionalmente</p>

      <div class="boton-foto"><button class="fa-solid fa-pencil"></button></div>
      <div class="boton-texto-perfil"><button class="fa-solid fa-pencil"></button></div>
    
    </div>
    <div id="banner">
        <img src="Proyecto_portfolio/src/assets/Imagenes/banner.jpg">
    </div>
</div>

