<div id="experiencia">
    <img src="Proyecto_portfolio/src/assets/Imagenes/fondo1.jpg">
    <h2 id="titulo-mayor">Experiencia Laboral</h2>

    <div class="boton-exp"><button class="fa-solid fa-pencil"></button></div>

    <div class="empresa1">
        <h5 class="titulo-empleo">2017 - 2018 Libreria "La Unica"</h5>
        <p>Atencion al cliente, cobro con tarjeta de credito/debito, reposicion e inventario de productos</p>
    </div>

    <div class="empresa2">
        <h5 class="titulo-empleo">2019 Volantera</h5>
        <p>Descripcion</p>
    </div>

    <div class="empresa3">
        <h5 class="titulo-empleo">2021 Kiosco</h5>
        <p>Descripcion</p>
    </div>
    
    <div class="empresa4">
        <h5 class="titulo-empleo">Empresa 4</h5>
        <p>Descripcion</p>
    </div>
    
    
</div>
