<div id="educacion">
    <img src="Proyecto_portfolio/src/assets/Imagenes/fondo3.webp">
    <h2 id="titulo-edu">Educacion</h2>

    <div class="boton-edu"><button class="fa-solid fa-pencil"></button></div>

    <div class="instituto">
        <h5>2011 - 2016 Instituto Nstra Sra de Lourdes</h5>
        <p>Bachillerato en Ciencias Sociales</p>
    </div>

    <div class="instituto">
        <h5>2016 Mitre 29</h5>
        <p>Curso Auxiliar de Farmacia</p>
    </div>

    <div class="instituto">
        <h5>2019 - 2023 Facultad de Psicologia UBA</h5>
        <p>Licenciatura en Psicologia</p>
    </div>
    
    <div class="instituto">
        <h5>2022 - 2023 Curso Argentina Programa, Desarrollador Full Stack Developer Jr</h5>
        <p>Argentina Programa 4.0</p>
    </div>
    
</div>
